<h1><%= @restaurant.name %></h1>
<%= @restaurant.like %>
<%= @restaurant.rating %>
<%= @restaurant.description %>
<%= @restaurant.comment %>
<%= @restaurant.location %>

<%= link_to 'Back', restaurants_path %>
<%= link_to 'Edit' %>


