<h1><%= @restaurant.name %></h1>

<div class="bottom">
  <p><strong>Description:</strong> <%= @restaurant.description %></p>
  <p><strong>Like:</strong> <%= @restaurant.like %></p>
  <p><strong>Rating:</strong> <%= @restaurant.rating %></p>
  <p><strong>Comment:</strong> <%= @restaurant.comment %></p>
  <p><strong>Location:</strong> <%= @restaurant.location %></p>
</div>

<%= link_to 'Back', restaurants_path, {class: "pbtn"} %>
<%= link_to 'Edit', edit_restaurant_path, {class: "pbtn"} %>
<%= link_to 'Delete', @restaurant, {method: :delete, class: "pbtn"} %>


